.header {
  margin: 20px;
  font-family: 'Arial Black', Gadget, sans-serif;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

.title {
  background-color: #121212;
  text-align: center;
  color: white;
  margin: 20px;
  font-size: 3rem;
  margin-left: 20px;
  float: left;
  width: 90%;
}

.lights-border {
  background-color: red;
  padding: 20px;
  border-radius: 10px;
  height: 145px;
  min-width: 700px;

}

body {
  background-color: #121212;
  margin: 0;
  padding: 0;
}

.body {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 20px;
  font-family: 'Arial', sans-serif;
}

.light {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background-color: gold;
}

.shine {
  background-color: white;
  box-shadow: 0 0 20px 10px white;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.left {
  float: left;
}

.right{
  float: right;
}

.light-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90px;
  margin-top: 9px;
}