.header {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0px
}

.header .title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
  background-color: #121212;
  text-align: center;
  color: white;
  margin: 20px;
  font-size: 3rem;
  margin-left: 20px;
  float: left;
  height: 70px;
  padding-top: 10px;
  width: 90%;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.lights-border {
  background-color: red;
  padding: 20px;
  border-radius: 10px;
  height: 160px;
  min-width: 700px;
  box-shadow: inset 0px 0px 128px rgb(24 24 24 / 86%);
}

body {
  /* background-color: #121212; */
  margin: 0;
  padding: 0;
}

.content-overlay {
  backdrop-filter: blur(3px);
  top: 0px;
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
}

.body {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 20px;
  font-family: 'Arial', sans-serif;
  border: 10px solid red;
  height: 67vh;
  width: 70vw;
  background-color: #b6b6b6;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgb(24 24 24 / 86%);
}

.light {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background-color: gold;
}

.shine {
  background-color: white;
  box-shadow: 0 0 20px 10px white;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.left {
  float: left;
}

.right {
  float: right;
}

.light-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 97px;
  margin-top: 9px;
}

.spinner {
  height: 200px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
  box-shadow: inset 0px 0px 15px rgb(24 24 24 / 86%);
}

.arm {
  height: 390px;
  padding-top: 100px;
}

.MuiSlider-thumb {
  color: red;
  box-shadow: inset 0 0 9px black !important;
  height: 30px !important;
  width: 30px !important;
}

.MuiSlider-track {
  color: grey;
}

.MuiSlider-rail {
  color: transparent;
}

.connector {
  background-color: grey;
  width: 38px;
  height: 6px;
  top: -3px;
  position: relative;
  left: -20px;
  z-index: -1;
}

.spinner-image {
  width: 150px;
  height: 150px;
  margin-top: 25px;
}

.spinner-container {
  margin-top: 40px;
}

.slot-container {
  color: black;
  font-weight: bold;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-item {
  padding: 100px 0;
  margin: 100px 0;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.rfm-marquee-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: inherit !important;
  width: 100px !important;
  transform: var(--transform);
  margin-left: 45px;
  height: 100%;
}

.album-info-block {
  background-color: rgb(221, 221, 221);
  margin-top: 40px;
  border-radius: 7px;
  color: black;
  text-align: left;
  padding-left: 10px;
  overflow-x: hidden;
  width: 202px;
  font-size: 18px;
  padding-bottom: 10px;
  height: 300px;
}

.album-info-block .title {
  margin-top: 10px;
  font-weight: bold;
}

.badge {
  background-color: red;
  width: fit-content;
  color: white;
  border-radius: 15px;
  padding: 5px;
  margin-right: 5px;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
}